body {
    background-color: lightgray;
}

// customize some Bootstrap variables
$primary: darken(#42fbca, 20%);
$secondary: lighten(#ef238F, 30%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";